<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Documentation/alert.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0ae1aebe6f.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    
    <h2 class="main__section-title">Square image (Default 150 x 150px)</h2>

    <div class="example">
        <img src="https://picsum.photos/id/403/200/300" alt="" class="img-square">
        <img src="https://picsum.photos/id/63/200/300" alt="" class="img-square">
    </div>
    <h2 class="main__section-title">Round image (Default 150 x 150px)</h2>

    <div class="example">
        <img src="https://picsum.photos/id/66/200/300" alt="" class="img-round">
        <img src="https://picsum.photos/id/212/200/300" alt="" class="img-round">
    </div>
    <h2 class="main__section-title">Round corner image (Default 150 x 150px)</h2>

    <div class="example">
        <img src="https://picsum.photos/id/10/200/300" alt="" class="img-corner">
        <img src="https://picsum.photos/id/190/200/300" alt="" class="img-corner">
    </div>
    <h2 class="main__section-title">Dynamic image</h2>
    <div class="img-dynamic w-50">
        <img src="https://picsum.photos/id/1/1000/1000" alt="" class="responsive">
    </div>
  </body>
</html>
