<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Documentation/alert.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0ae1aebe6f.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h2 class="main__section-title">Horizontal Card</h2>
    <div class="example">
      <div class="card">
        <div class="card-head flex-row">
          <div
            class="pos-ab card-badge card-badge-left top-left-pos card-badge-hor"
          >
            33% off
          </div>
          <img class="w-30" src="../../assets/f1Wing.jpg" alt="vertical card" />
          <div class="card-title flex-col">
            <h3>Formula 1 Wheel</h3>
            <p><s>₹65,50,000/-</s> ₹43,22,999/-</p>
          </div>
        </div>
        <div class="card-brief hide">
          This is a 2022 spec wing, found around the corner of some road in
          Brackley.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non inventore esse nostrum dolorum, vero doloremque eveniet dolor eaque, sed nihil ad, adipisci expedita dolore soluta repellendus corrupti laboriosam quia similique?
        </div>
        <hr />
        <div class="card-footer flex-around">
          <div class="cta-btns flex-around w-50">
            <a href="#"><button class="btn btn-def btn-md">buy</button></a>
            <a href="#"><button class="btn btn-sec btn-md">visit</button></a>
          </div>
          <div class="card-icons flex-between w-40">
            <div class="cta-icons flex-center">
              <i class="far fa-heart"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-share-alt"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="main__section-title">Vertical & Badge Card</h2>
    <div class="example">
      <div class="card">
        <div
          class="pos-ab card-badge card-badge-left card-badge-ver top-left-pos"
        >
          33% off
        </div>
        <img src="../../assets/f1Wing.jpg" alt="vertical card" />
        <div class="card-title flex-col">
          <h2>Formula 1 Rear Wing</h2>
          <p><s>₹65,50,000/-</s> ₹43,22,999/-</p>
        </div>
        <div class="card-brief">
          This is a 2022 spec wing, found around the corner of some road in
          Brackley.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non inventore esse nostrum dolorum, vero doloremque eveniet dolor eaque, sed nihil ad, adipisci expedita dolore soluta repellendus corrupti laboriosam quia similique?
        </div>
        <hr />
        <div class="pos-ab bottom-full card-footer flex-around">
          <div class="cta-btns flex-around w-50">
            <a href="#"><button class="btn btn-def btn-md">buy</button></a>
            <a href="#"><button class="btn btn-sec btn-md">visit</button></a>
          </div>
          <div class="card-icons flex-between w-40">
            <div class="cta-icons flex-center">
              <i class="far fa-heart"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-share-alt"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="main__section-title">Vertical Card w/Text Overlay</h2>
    <div class="example">
      <div class="card">
        <img class="h-50" src="../../assets/f1Wing.jpg" alt="vertical card" />
        <div class="card-title flex-col pos-ab brief-overlay">
          <h2>Formula 1 Rear Wing</h2>
          <p><s>₹65,50,000/-</s> ₹43,22,999/-</p>
        </div>
        <div class="card-brief">
          This is a 2022 spec wing, found around the corner of some road in
          Brackley.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum numquam suscipit ipsam aliquam voluptatibus unde aut atque dolor nemo voluptate, mollitia ex omnis error qui distinctio? Dolorum amet quisquam tempora?
        </div>
        <hr />
        <div class="pos-ab bottom-full card-footer flex-around">
          <div class="cta-btns flex-around w-50">
            <a href="#"><button class="btn btn-def btn-md">buy</button></a>
            <a href="#"><button class="btn btn-sec btn-md">visit</button></a>
          </div>
          <div class="card-icons flex-between w-40">
            <div class="cta-icons flex-center">
              <i class="far fa-heart"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-share-alt"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="main__section-title">Vertical Card w/Dismiss</h2>
    <div class="example">
      <div class="card">
        <div
          class="pos-ab card-badge card-badge-right card-badge-ver top-right-pos"
        >
          <i class="far fa-times-circle icon"></i>
        </div>
        <img src="../../assets/f1Wing.jpg" alt="vertical card" />
        <div class="card-title flex-col">
          <h2>Formula 1 Rear Wing</h2>
          <p><s>₹65,50,000/-</s> ₹43,22,999/-</p>
        </div>
        <div class="card-brief">
          This is a 2022 spec wing, found around the corner of some road in
          Brackley.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam iure accusamus impedit velit, beatae sed voluptatem. Repellat id alias aperiam, voluptatum non aut? Nam esse aliquid laboriosam praesentium rem.
        </div>
        <hr />
        <div class="pos-ab bottom-full card-footer flex-around">
          <div class="cta-btns flex-around w-50">
            <a href="#"><button class="btn btn-def btn-md">buy</button></a>
            <a href="#"><button class="btn btn-sec btn-md">visit</button></a>
          </div>
          <div class="card-icons flex-between w-40">
            <div class="cta-icons flex-center">
              <i class="far fa-heart"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-share-alt"></i>
            </div>
            <div class="cta-icons flex-center">
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="main__section-title">Text Card</h2>
    <div class="example">
      <div class="card">
        <!-- <img src="../../assets/f1Wing.jpg" alt="vertical card" /> -->
        <div class="card-title flex-col">
          <h2>Formula 1 Rear Wing</h2>
          <p><s>₹65,50,000/-</s> ₹43,22,999/-</p>
        </div>
        <div class="card-brief">
          This is a 2022 spec wing, found around the corner of some road in
          Brackley.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, aperiam. Obcaecati assumenda enim quidem dolor asperiores voluptates, quis dolorem, esse facere ea, eos atque cum ex eius mollitia aut? Sint.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quis sapiente quod labore, modi necessitatibus quae illum inventore facere quidem. Labore qui porro corporis laborum animi laudantium aspernatur, voluptates quibusdam.
        </div>
      </div>
    </div>
  </body>
</html>
