<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Documentation/alert.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0ae1aebe6f.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h2 class="main__section-title">Button Variation</h2>
    <div class="example">
        <a href="#"><button class="btn btn-def btn-md">Solid</button></a>
        <a href="#"><button class="btn btn-md outline">Outline</button></a>
        <a href="#"><button class="btn btn-md ghost">Ghost</button></a>
        <a href="#"><button class="btn btn-md outline link">Link</button></a>
    </div>
    <h2 class="main__section-title">Button sizes</h2>

    <div class="example">
        <a href="#"><button class="btn btn-def btn-sm">Solid</button></a>
        <a href="#"><button class="btn btn-def btn-md ">Solid</button></a>
        <a href="#"><button class="btn btn-def btn-lg ">Solid</button></a>
        <a href="#"><button class="btn btn-def btn-xl ">Solid</button></a>

    </div>
    <h2 class="main__section-title">Button types</h2>

    <div class="example">
        <a href="#"><button class="btn btn-def btn-md">Default</button></a>
        <a href="#"><button class="btn btn-prm btn-md">Primary</button></a>
        <a href="#"><button class="btn btn-sec btn-md" disabled>Disabled</button></a>
        <a href="#"><button class="btn btn-sec btn-md">Secondary</button></a>
        <a href="#"><button class="btn btn-suc btn-md">Success</button></a>
        <a href="#"><button class="btn btn-err btn-md">Error</button></a>

    </div>
    <h2 class="main__section-title">Button with icons</h2>

    <div class="example">
        <a href="#"><button class="btn btn-prm btn-md"><i class="fas fa-shopping-cart"></i>Add to cart</button></a>
        <a href="#"><button class="btn btn-err btn-md"><i class="fas fa-trash"></i>Delete</button></a>

    </div>
    <h2 class="main__section-title">Floating Action Buttons</h2>

    <div class="example">
        <a href="#"><button class="btn btn-def btn-md btn-fab"><i class="fas fa-chevron-up"></i></button></a>
        <a href="#"><button class="btn btn-md btn-fab"><i class="fas fa-trash"></i></button></a>

    </div>

    </div>
  </body>
</html>
