<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Documentation/alert.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0ae1aebe6f.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h2 class="main__section-title">Badge on icon</h2>
    <div class="example">
        <div class="badge">
            <div class="fas fa-car badge-icon"></div>
            <div class="badge-count top-right flex-center badge-blue">999+</div>
        </div>
        <div class="badge">
            <div class="fas fa-shopping-cart badge-icon"></div>
            <div class="badge-count top-right flex-center badge-yellow">4</div>
        </div>
        <div class="badge">
            <div class="fas fa-envelope badge-icon"></div>
            <div class="badge-count top-left flex-center badge-purple">99+</div>
        </div>
        <div class="badge">
            <div class="fas fa-bell badge-icon"></div>
            <div class="badge-count top-left flex-center badge-red">4</div>
        </div>
    </div>

    <h2 class="main__section-title">Badge on Avatar</h2>
    <div class="example">
        <div class="badge">
            <div class="badge-dot-md badge-dot-pos dot-green"></div>
            <div class="avatar md"><img  src="../../assets/TanayPratap.png" alt="Tanay's avatar"></div>
        </div>
        <div class="badge">
            <div class="badge-dot-lg badge-dot-pos dot-yellow"></div>
            <div class="avatar lg"><img  src="../../assets/TanayPratap.png" alt="Tanay's avatar"></div>
        </div>
        <div class="badge">
            <div class="badge-dot-xl badge-dot-pos dot-red"></div>
            <div class="avatar xl"><img  src="../../assets/TanayPratap.png" alt="Tanay's avatar"></div>
        </div>
        <div class="avatar md badge-bd bd-green"><img  src="../../assets/swap.jpg" alt="Swap's avatar"></div>
        <div class="avatar lg badge-bd bd-yellow"><img  src="../../assets/swap.jpg" alt="Swap's avatar"></div>
        <div class="avatar xl badge-bd bd-red"><img  src="../../assets/swap.jpg" alt="Swap's avatar"></div>

    </div>

    <!-- <h2 class="main__section-title">Button types</h2>
    <div class="example">
    </div>
    
    <h2 class="main__section-title">Button with icons</h2>
    <div class="example">
    </div>

    <h2 class="main__section-title">Floating Action Buttons</h2>
    <div class="example">
    </div> -->

    </div>
  </body>
</html>
