<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./alert.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0ae1aebe6f.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h2 class="main__section-title">Basic Alerts</h2>
    <div class="example">
      <div class="alert alert--primary">
        <p>A simple <strong>Primary Alert!</strong> check it out now</p>
      </div>
      <div class="alert alert--success">
        <p>A simple <strong>Success Alert!</strong> check it out now</p>
      </div>
      <div class="alert alert--warning">
        <p>A simple <strong>Warning Alert!</strong> check it out now</p>
      </div>
      <div class="alert alert--error">
        <p>A simple <strong>Error Alert!</strong> check it out now</p>
      </div>
    </div>
    <h2 class="main__section-title">Alerts with icons</h2>

    <div class="example">
      <div class="alert alert-primary">
        <i class="fas fa-info-circle"></i>
        <p>A simple <strong>Primary Alert!</strong> check it out now</p>
      </div>
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>
        <p>A simple <strong>Success Alert!</strong> check it out now</p>
      </div>
      <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i>
        <p>A simple <strong>Warning Alert!</strong> check it out now</p>
      </div>
      <div class="alert alert-error">
        <i class="fas fa-exclamation-circle"></i>
        <p>A simple <strong>Error Alert!</strong> check it out now</p>
      </div>
    </div>
    <h2 class="main__section-title">Alerts with links</h2>

    <div class="example">
      <div class="alert alert-primary">
        <p>
          A simple
          <a href="#" class="alert-link"><strong>Primary Alert!</strong></a>
          check it out now
        </p>
      </div>
      <div class="alert alert-success">
        <p>
          A simple
          <a href="#" class="alert-link"><strong>Success Alert!</strong></a>
          check it out now
        </p>
      </div>
      <div class="alert alert-warning">
        <p>
          A simple
          <a href="#" class="alert-link"><strong>Warning Alert!</strong></a>
          check it out now
        </p>
      </div>
      <div class="alert alert-error">
        <p>
          A simple
          <a href="#" class="alert-link"><strong>Error Alert!</strong></a>
          check it out now
        </p>
      </div>
    </div>
  </body>
</html>
